body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #ce6060;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #d47171;
    color: white;
    padding: 10px;
    
    background-color: aquamarine;
    bottom: 0;
    width: 100%;
}
.audioFileDatabase li{
    display: flex;
}