body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #ee0d0d;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #991414;
    color: white;
    padding: 10px;
    
    background-color: aquamarine;
    bottom: 0;
    width: 100%;
}


a{
    text-decoration: none;
}


nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to align items in a row */
}

nav ul li {
    margin-right: 20px; /* Add space between items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set link color */
}


.audioFileDatabaseContainer {
    width: 100%;
}

.audioFileDatabaseHeader {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.audioFileDatabaseHeader span {
    margin-right: 10px;
    text-align: center;
    flex: 1;
}

.audioFileDatabase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

.audioFileDatabase li {
    margin-right: 10px;
    flex: 1;
}

.audioFileDatabase a {
    margin-left: auto;
}




